.modal {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.015);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(24px);
}

.camera-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.camera-container {
    background-color: aqua;
    max-width: 640px;
    max-height: 480px;
    width: 100%;
    height: 100%;
}